 .container .new-tweet {
 display:flex;
 flex-direction:column;
 background-color:  #e9decb;
 margin:1%;
 width:100%;
 align-self: center; 
 border-radius:10px;
} 



 .container textarea{
  width: 100%;
  resize: none;
  border-style: none;
  border-bottom-style: solid;
  border-width: thick;
  border-color: rgb(49, 46, 46);
  outline: none;
  color: #27251f;
}

 #new-post-tweet ,.new-tweet h2{
  padding-right:5%;
  padding-left:5%;

}

textarea::placeholder {
  color: #545149;
  background-color:  #e9decb;
  font-weight: bold;
  opacity: 1;

}

input {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  margin: 10px;
}

span.counter {
  font-family: 'Bungee', sans-serif;
  color: #545149;
  border-top: 10px;
  margin: 10px;
  float: right;
}

span.counter.exceededLimit {
  color:red;
}

.new-tweet .error {
  padding: 15px;
  background-color: #f4f1ec;
  color: RED;
  font-weight:bold;
  display: none;
  text-align: center;
  margin-top: 0px;
}

.fas .fa-exclamation-triangle {
  background-color:red;
}